In [1]:
import mysql.connector
import time

In [2]:
TEST_COUNT = 5

INSERT_COUNT = 5000
UPDATE_COUNT = 5000
DELETE_COUNT = 5000
READ_COUNT = 5000

INSERT_TIME = []
UPDATE_TIME = []
DELETE_TIME = []
READ_TIME = []

In [3]:
mydb = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="admin",
    database="CSPA_EVAL"
)

mycursor = mydb.cursor()

In [4]:
def createTable():
    mycursor.execute("CREATE TABLE Student (id int PRIMARY KEY,fname varchar(255),lname varchar(255),email varchar(255),grade char(1));")

In [5]:
def dropTable():
    mycursor.execute('DROP TABLE Student')

In [6]:
def insertData():
    start=time.time()
    
    for i in range(1,INSERT_COUNT+1):
        id=i
        fname='studf_{}'.format(i)
        lname='studl_{}'.format(i)
        email='stud_{}@mail.com'.format(i)
        grade='A'
        statement = "INSERT INTO Student VALUES({},'{}','{}','{}','{}');".format(id,fname,lname,email,grade)
#         print(statement)
        mycursor.execute(statement)
        mydb.commit()
        
    stop=time.time()
    time_taken = stop - start
    INSERT_TIME.append(time_taken)
    print('Inserted in ',time_taken)

In [7]:
def updateData():
    start=time.time()
    
    for i in range(1,UPDATE_COUNT+1):
        id=i
        new_grade='B'
        statement = "UPDATE Student SET grade = '{}' WHERE id = {};".format(new_grade,id)
#         print(statement)
        mycursor.execute(statement)
        mydb.commit()
        
    stop=time.time()
    time_taken = stop - start
    UPDATE_TIME.append(time_taken)
    print('Updated in ',time_taken)

In [8]:
def deleteData():
    start=time.time()
    
    for i in range(1,DELETE_COUNT+1):
        id=i
        statement = "DELETE FROM Student WHERE id = {};".format(id)
#         print(statement)
        mycursor.execute(statement)
        mydb.commit()
    
    stop=time.time()
    time_taken = stop - start
    DELETE_TIME.append(time_taken)
    print('Deleted in ',time_taken)

In [9]:
def readData():
    start=time.time()
    
    for i in range(1,READ_COUNT+1):
        id=i
        statement = "SELECT * FROM Student WHERE id = {};".format(id)
#         print(statement)
        mycursor.execute(statement)
        my_result = mycursor.fetchall()
#         print(my_result)
    
    stop=time.time()
    time_taken = stop - start
    READ_TIME.append(time_taken)
    print('Read in ',time_taken)

In [10]:
print('Testing for {} times'.format(TEST_COUNT))
for i in range(1,TEST_COUNT+1):
    print('\n---------- TEST {} ----------\n'.format(i))
    createTable()
    
    insertData()
    updateData()
    readData()
    deleteData()
    
    dropTable()
    
#Averaging
def average(lst):
    sum = 0
    for e in lst:
        sum = sum + e

    return sum/len(lst)
print('\n\n============ RESULT ============\n')
print('Average Insert time: {}s'.format(average(INSERT_TIME)))
print('Average Update time: {}s'.format(average(UPDATE_TIME)))
print('Average Read time: {}s'.format(average(READ_TIME)))
print('Average Delete time: {}s'.format(average(DELETE_TIME)))

Testing for 5 times

---------- TEST 1 ----------

Inserted in  6.2940673828125
Updated in  6.389831304550171
Read in  0.8594651222229004
Deleted in  7.850889205932617

---------- TEST 2 ----------

Inserted in  6.243988752365112
Updated in  7.119433641433716
Read in  0.8441805839538574
Deleted in  8.75911259651184

---------- TEST 3 ----------

Inserted in  7.116490602493286
Updated in  6.6394431591033936
Read in  0.935051441192627
Deleted in  8.620118856430054

---------- TEST 4 ----------

Inserted in  6.116857528686523
Updated in  7.696130037307739
Read in  0.8773677349090576
Deleted in  8.137676000595093

---------- TEST 5 ----------

Inserted in  6.8308141231536865
Updated in  6.787944555282593
Read in  0.8754391670227051
Deleted in  7.201329231262207


============ RESULT ============

Average Insert time: 6.520443677902222s
Average Update time: 6.926556539535523s
Average Read time: 0.8783008098602295s
Average Delete time: 8.113825178146362s